/* CSS Formatting Document */

body {
	color: #000000;
	background-color: #FFFFFF;
	font: 12pt Georgia, "Times New Roman", Times, serif;
	
}

footer {
    background-color: lightblue;
}

ol {
	
}